<div class="navbar">
  <div class="name">MyOnlineIde</div>
</div>
<div class="main">
	<div class="editor-option">
		<div class="editor-inner">
		<div class="themes">
			<select #th (change)="themeChange(th.value)">
				<option *ngFor="let theme of themes" [value]="theme">
					{{theme}}
				</option>
			</select>
		</div>
		<div class="languages">
			<select #lg (change)="languageChange(lg.value)" >
				<option *ngFor="let language of languages" [selected]="language.id == id ? true : null" [value]="language.name" >
					{{language.name}}
				</option>
			</select>
		</div>
		<div class="Input">
  				<button class="inpbtn" (click)="showInput()"><i class="far fa-keyboard"></i> Input</button>
  			</div>
		</div>
	</div>
  <div class="editor" #codeEditor>
    
  </div>
  <div class="editor-option">
  		<div class="editor-inner">
  			<div class="btns">
  				<div class="icons">
  					<i class="fas fa-download"></i> <i class="fas fa-redo-alt"></i>
  				</div>
  			</div>
  			<div class="Run">
  				<button class="runbtn" (click)="submitCode()"><i class="fas fa-play"></i> Run</button>
  			</div>
  		</div>
  </div>
  <div class="output" *ngIf="showInputBox">
	<div class="output-head">
		INPUT
	</div>
	<div class="input-result">
		<textarea></textarea> 
	</div>
</div>
  <div class="output" *ngIf="!showOutput">
	<div class="output-head">
		<div>OUTPUT</div><div class="status"><em>Status :</em> Successfully Executed</div><div><em>Time :</em> 878ms</div>
	</div>
	<div class="output-result">
	</div>
</div>
</div>

<router-outlet></router-outlet>
