/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: poppins;
  src: url(assets/Poppins-Bold.ttf) format("opentype");
}
body{
	margin:0;
	padding:0;
}